@charset "UTF-8";

@import "zerostyle";
@import "slider";
@import "burger";
@import "fonts";

/* common styles */
body {
    overflow-x: hidden;
    &.lock {
        overflow-y: hidden;
    }
    font-family: "PT Sans";
}
.title {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    &.g {
        color: #132d03;
    }
    &.b {
        color: #000;
    }
    &.w {
        color: #fff;
    }
}
.button {
    color: #ffffff !important;
    width: 180px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 1, 3, 0.17);
    display: flex !important;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    &.r, &.g:hover {
        background-image: linear-gradient(to top, #640000 0%, #640000 3%, #8c0202 5%, #e30000 100%);
    }
    &.g, &.r:hover {
        background-image: linear-gradient(to top, #2d7700 0%, #2d7700 3%, #3c9b02 5%, #44b300 100%);
    }
}
.call {
    display: flex;
    text-align: right;
    justify-content: space-between;
    @media(max-width: 991px) {
        justify-content: flex-end;
    }
    @media(max-width: 767px) {
        justify-content: start;
        margin: 20px 0 0 0;
    }
    &__left {
        margin: 0 40px 0 0;
        @media(max-width: 991px) {
            margin: 0 20px 0 0;
        }
        @media(max-width: 368px) {
            display: none;
        }
    }

    &__title {
        color: #0d0d0d;
        margin: 0 0 15px 0;
    }

    &__list {
    }

    &__item {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        margin: 0 0 6px 0;
        &:last-child {
            margin: 0;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        a {
            display: block;
        }
    }

    &__post {
        text-decoration: underline;
        color: #368c02 !important;
        @media(max-width: 368px) {
            margin: 0 0 10px 0;
            text-align: left;
        }
    }

}
.input {
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    background-color: #f7f7f7;
    padding: 18px 19px 16px 19px;
    font-size: 16px;
    width: 100%;
    &::placeholder {
        color: #626262;
        font-style: italic;
    }
}
.product-item {
    margin: 0 0 20px 0;
    &__body {
        padding: 10px 10px 26px 10px;
        background-color: #fff;
        margin: 0 0 20px 0;
    }
    &__image-zoom {
        display: block;
        min-width: 200px;
        height: 170px;
        margin: 0 0 15px 0;
        @media(max-width: 767px) {
            margin: 0 auto 15px auto;
        }
    }

    &__name {
        font-size: 16px;
        font-weight: 700;
        color: #000000;
        margin: 0 0 15px 0;
    }

    &__description {
        color: #717171;
        margin: 0 0 14px 0;
    }

    &__prices {
    }

    &__price {
        color: #000000;
        margin: 0 0 4px 0;
        &:last-child {
            margin: 0;
        }
        span {
            font-weight: 700;
        }
    }

    &__button {
        width: 100%;
        height: 55px;
        font-size: 20px;
    }
}

/* content */
.header {
    padding: 20px 0 17px 0;
    &__call {
        
    }
}

.navbar {
    background-color: #3da001;
    border-radius: 0;
    &__links {
        display: flex;
        max-width: 654px;
        justify-content: space-between;
        padding: 11px 0;
        margin: 0 auto;
        @media(max-width: 767px) {
            flex-direction: column;
        }
    }
    &__link {
        font-size: 18px;
        color: #ffffff !important;
        text-decoration: underline;
        @media(max-width: 767px) {
            margin: 0 0 10px 0;
            &:last-child {
                margin: 0;
            }
        }
    }
}

.home {
    min-height: 790px;
    padding: 0 0 44px 0;
    margin: 0 0 80px 0;
    background: url("images/home/bg.webp") 50% 50%/cover no-repeat;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        &.title {
            text-transform: uppercase;
            font-weight: 700;
            color: #ffffff;
            background-image: linear-gradient(to top, #3a9702 0%, #44b400 100%);
            padding: 6px 36px;
            
            &-bigger {
                font-size: 50px;
                margin: 82px 0 6px 0;
                @media(max-width: 519px) {
                    font-size: 38px;
                    padding: 6px;
                    text-align: center;
                }
            }
            &-smaller {
                font-size: 44px;
                margin: 0 0 60px 0;
                @media(max-width: 519px) {
                    font-size: 29px;
                    padding: 6px;
                    text-align: center;
                }
            }
        }
    }

    &__text {
        max-width: 600px;
        font-size: 29px;
        color: #000000;
        margin: 0 0 120px 0;
        span {
            font-weight: 700;
        }
    }

    .form {
        max-width: 640px;
        width: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 50px 43px 50px;
        box-shadow: 0 14px 40px rgba(0, 1, 3, 0.15);
        &__title {
            font-size: 30px;
            color: #000000;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            margin: 0 0 40px 0;
        }
    
        &__input-container {
            display: flex;
            max-width: 540px;
            width: 100%;
            margin: 0 0 37px 0;
            @media(max-width: 767px) {
                flex-direction: column;
                margin: 0 0 20px 0;
            }
        }
    
        &__input-name {
            margin: 0 20px 0 0;
            @media(max-width: 767px) {
                margin: 0 0 20px 0;
            }
        }
    
        &__input-tel {
        }
    
        &__submit {
            width: 300px;
            height: 55px;
            font-size: 20px;
            @media(max-width: 767px) {
                width: 100%;
            }
        }
    }
}

.about {
    padding: 0 0 30px 0;
    &__title {
        margin: 0 0 80px 0;
    }

    &__image-container {
        margin: 0 auto 30px auto;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #368c02;
        border-radius: 50%;
    }

    &__name {
        margin: 0 0 4px 0;
        font-size: 18px;
        color: #0d0d0d;
        font-weight: 700;
    }

    &__text {
        font-size: 18px;
        color: #0d0d0d;
        margin: 0 0 50px 0;
    }
}

.order {
    background: url("images/order/bg.webp") 50% 50%/cover no-repeat;
    min-height: 590px;
    padding: 80px 0 60px 0;
    &__title {
        margin: 0 0 9px 0;
        font-size: 50px;
    }

    &__subtitle {
        color: #ffffff;
        &-bigger {
            margin: 0 0 34px 0;
            font-size: 33px;
            line-height: 40px;
        }
        &-smaller {
            margin: 0 0 50px 0;
            font-size: 30px;
        }
    }

    .form {
        padding: 0 25px;
        @media(max-width: 767px) {
            padding: 0;
        }
        &__input {
        }
    
        &__input-name {
            margin: 0 0 10px 0;
        }
    
        &__input-tel {
            margin: 0 0 20px 0;
        }
        &__submit {
            width: 100%;
            height: 60px;
            font-size: 20px;
        }
    }
}

.stat {
    background: repeating-linear-gradient(45deg, #a30d19, #a30d19 1px, #0000 1px, #0000 14px),
    repeating-linear-gradient(-45deg, #a30d19, #a30d19 1px, #0000 1px, #0000 14px),
    #ab0d19;
    box-shadow: inset 0 14px 21px rgba(0, 1, 3, 0.27);
    padding: 30px 0;
    .col-md {
        margin: 0 auto;
    }
    &__title {
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        @media(max-width: 991px) {
            flex-direction: column;
            span:first-child {
                margin: 0 0 20px 0;
            }
            span {
                text-align: center;
            }
        }
    }

    &__nums {
        display: flex;
        margin: 0 50px;
        @media(max-width: 991px) {
            margin: 0 0 20px 0;
        }
    }

    &__num {
        width: 45px;
        height: 60px;
        box-shadow: 0 4px 5px rgba(0, 1, 3, 0.2);
        border-radius: 10px;
        background: linear-gradient(to top, #ffffff 29px, #e8e8e8 29px, #e8e8e8 30px, #ffffff 30px, #ffffff 60px);
        color: #464646;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px 0 0;
        &:last-child {
            margin: 0;  
        }
    }
}

.sets {
    padding: 81px 0 67px 0;
    min-height: 660px;
    background: url("images/sets/bg.webp") 50% 50%/cover no-repeat;
    &__title {
        margin: 0 0 20px 0;
    }

    &__text {
        font-size: 18px;
        color: #fff;
        margin: 0 0 60px 0;
    }

    .col-md-6 {
        margin: 0 0 20px 0;
    }
    .item {
        padding: 30px;
        background-color: #fff;
        display: flex;
        align-items: center;
        flex-direction: column;
        @media(max-width: 767px) {
            padding: 15px;
        }
        &__head {
            width: 356px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 40px 0;
            @media(max-width: 991px) {
                flex-direction: column;
                width: auto;
            }
        }
    
        &__image {
            width: 147px;
            height: 147px;
            @media(max-width: 991px) {
                margin: 0 0 29px 0;
            }
        }
    
        &__choices {
        }
    
        &__choice {
            color: #000000;
            font-size: 16px;
            position: relative;
            padding: 0 0 0 36px;
            margin: 0 0 29px 0;
            @media(max-width: 991px) {
                margin: 0 0 18px 0;
            }
            &:last-child {
                margin: 0;
            }
            &:before {
                content: "";
                display: inline-block;
                width: 22px;
                height: 30px;
                position: absolute;
                background: url("images/sets/icon.webp") 50% 50%/cover no-repeat;
                left: 0;
                top: -9px;
            }
        }
    
        &__body {
            width: 100%;
        }
    
        &__term {
            font-size: 20px;
            color: #000000;
            margin: 0 0 6px 0;
            span {
                font-weight: 700;
            }
        }
    
        &__button {
            margin: 30px auto 0 auto;
            width: 220px;
            height: 45px;
            font-size: 16px;
            @media(max-width: 767px) {
                width: 100%;
            }
        }
    }
}

.reviews {
    padding: 0 0 28px 0;
    .col-md-6 {
        display: flex;
        margin: 0 0 52px 0;
        @media(max-width: 991px) {
            flex-direction: column;
        }
    }

    &__title {
        margin: 80px 0;
    }

    &__image {
        min-width: 140px;
        max-width: 140px;
        height: 140px;
        border-radius: 50%;
        margin: 0 20px 0 0;
        @media(max-width: 991px) {
            margin: 0 0 10px 0;
        }
    }

    &__body {
    }

    &__label {
        font-size: 16px;
        color: #000000;
        font-weight: 700;
        margin: 0 0 4px 0;
    }

    &__text {
        color: #000000;
        margin: 13px 0 19px 0;
        line-height: 17px;
    }

    &__button {
        width: 100%;
        font-size: 18px;
        height: 50px;
    }
}

.prod {
    background: url("images/prod/bg.webp") 50% 50%/cover no-repeat;
    padding: 80px 0 53px 0;
    @media(max-width: 767px) {
        background-position: 50% 0;
    }
    &__title {
        margin: 0 0 80px 0;
    }

    .col-md-4 {
        margin: 0 0 30px 0;
    }

    &__image-zoom {
        display: block;
        width: 100%;
        height: 230px;
        margin: 0 0 20px 0;
        @media(max-width: 767px) {
            margin: 0 0 10px 0;
        }
    }

    &__name {
        margin: 0;
        font-size: 18px;
        color: #000000;
        font-weight: 700;
    }
}

.artif {
    background: url("images/artif/bg.webp") 50% 50%/cover no-repeat;
    padding: 80px 0 60px 0;
    &__title {
        margin: 0 0 80px 0;
    }
}

.alive {
    background-color: #f4f4f4;
    padding: 80px 0 60px 0;
    &__title {
        margin: 0 0 80px 0;
    }
}

.candy {
    background: url("images/candy/bg.webp") 50% 50%/cover no-repeat;
    padding: 80px 0 60px 0;
    &__title {
        margin: 0 0 80px 0;
    }
}

.decor {
    background-color: #f4f4f4;
    padding: 74px 0 60px 0;
    &__title {
        margin: 0 0 80px 0;
    }
}

.contacts {
    position: relative;
    &__block {
        margin: 30px 0;
        min-width: 440px;
        padding: 60px;
        position: relative;
        z-index: 1;
        background-color: #fff;
        display: inline-block;
        @media(max-width: 767px) {
            display: block;
            min-width: 100%;
            margin: 0;
        }
        @media(max-width: 419px) {
            padding: 40px 20px;
        }
    }

    &__title {
        font-size: 30px;
        margin: 0 0 49px 0;
    }

    &__list {
    }

    &__item {
        color: #000000;
        padding: 0 0 0 51px;
        background-repeat: no-repeat;
        font-size: 18px;
        max-width: 253px;
        margin: 0 0 40px 0;
        &:last-child {
            margin: 0;
        }
        @media(max-width: 767px) {
            max-width: 100%;
        }
    }

    &__address {
        background-image: url("images/contacts/01.webp");
        min-height: 31px;
    }

    &__time {
        background-image: url("images/contacts/02.webp");
        min-height: 26px;
    }

    &__phone {
        background-image: url("images/contacts/03.webp");
        font-size: 22px;
        font-weight: 700;
        min-height: 25px;
    }

    &__google-map {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        @media(max-width: 767px) {
            position: static;
            height: 400px;
        }
    }
}

.footer {
    padding: 20px 0 17px 0;
}

/* fixed */
.fixed-pulse {
    background-color: #e30000;
    z-index: 1;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-size: 50px;
    cursor: pointer;
    &:before,
    &:after {
        content: " ";
        display: block;
        position: absolute;
        border: 50%;
        border: 1px solid #e30000;
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: -20px;
        border-radius: 50%;
        animation: pulse 1.5s linear infinite;
    }
    @media(max-width: 767px) {
        width: 80px;
        height: 80px;
        bottom: 20px;
        right: 20px;
        font-size: 40px;
        line-height: 80px;
    }
}
@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}
@media(max-width: 767px) {
    @keyframes pulse {
        0% {
            transform: scale(0.5);
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            transform: scale(1);
            opacity: 0;
        }
    }
}

/* fancybox popups */
.fancybox-close-small {
    display: none;
}
.popup {
    display: none;
}